.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.input-group {
  width: 100%;
}

.input-group input {
  width: 35%;
  margin: auto;
  padding: 12px;
  border: none;
  border-radius: 3px 0 0 3px;
}

.input-group button {
  /* width: 60%; */
  /* margin: auto; */
  padding: 12px;
  border: none;
  border-radius: 0 3px 3px 0;
  cursor: pointer;
  width: 10%;
  color: #fff;
  background-color: #6c757d;
  position: relative;
}

.input-group button:hover {
  color: #282C34;
  transition: ease 0.7s;
  background-color: #fff;
  border: 1px solid #6c757d;
}

/*.input-group button:after {*/
  /*content: "";*/
  /*position: absolute;*/
  /*left: 0;*/
  /*top: 0;*/
  /*width: 0;*/
  /*color: #fff;*/
  /*height: 100%;*/
  /*background: limegreen;*/
  /*opacity: 0;*/
/*}*/
/*.input-group button:hover:after {*/
  /*width: 100%;*/
  /*opacity: 1;*/
  /*transition: 500ms;*/
  /*-webkit-transition: 500ms;*/
/*}*/
